<div class="container cfa-youtube">
  <div class="row g-4 align-items-start">
    <div class="yout-tube-content-container top">
      <h3>CFA® Program Must Watch Videos</h3>
      <p class="description">
        Get a preview of your<br />
        related topic
      </p>
    </div>
    <!-- LEFT: Hero + Bottom strip -->
    <div class="col-lg-7 youtube-box">
      <!-- HERO -->
      <div class="swiper heroSwiper">
        <div class="swiper-wrapper"></div>
      </div>

      <!-- BOTTOM STRIP -->
      <div class="bottom-strip">
        <p class="big-card" id="big1" aria-label="video 1">
          <img id="big1img" alt="" />
        </p>
        <p class="big-card" id="big2" aria-label="video 2">
          <img id="big2img" alt="" />
        </p>

        <!-- 2x2 mini box -->
        <div class="mini-box">
          <p class="mini-avatar" id="mini1" aria-label="next video 1">
            <img id="mini1img" alt="" />
          </p>
          <p class="mini-avatar" id="mini2" aria-label="next video 2">
            <img id="mini2img" alt="" />
          </p>
          <p class="mini-avatar" id="mini3" aria-label="next video 3">
            <img id="mini3img" alt="" />
          </p>
          <div class="more-bubble" id="moreFab">+0</div>
        </div>
      </div>

      <!-- Pagination dots for the bottom strip -->
      <div class="dots" id="dots"></div>
    </div>

    <!-- RIGHT: Playlist card -->
    <div class="yout-tube-content-container">
      <h3>CFA® Program Must Watch Videos</h3>
      <p class="description">
        Get a preview of your<br />
        related topic
      </p>
      <ul>
        <li>
          <img
            src="$1Upload\22-08-2025\files\play-icon.svg"
            alt="youtube-icon"
          />
          <a
            class="youtube-playlist"
            href="https://yt.openinapp.co/dzvsa"
            data-npa="true"
            target="_blank"
            >Is CFA® for you?</a
          >
        </li>
        <li>
          <img
            src="$1Upload\22-08-2025\files\play-icon.svg"
            alt="youtube-icon"
          />
          <a
            class="youtube-playlist"
            href="https://yt.openinapp.co/1zvn0"
            data-npa="true"
            target="_blank"
            >CFA® level 1 roadmap</a
          >
        </li>

        <li>
          <img
            src="$1Upload\22-08-2025\files\play-icon.svg"
            alt="youtube-icon"
          />
          <a
            class="youtube-playlist"
            href="https://yt.openinapp.co/w535a"
            data-npa="true"
            target="_blank"
            >MBA vs CFA®</a
          >
        </li>
      </ul>
      <button
        class="custom-btn"
        onclick="
          window.open(
            'https://www.youtube.com/watch?v=01pP3cu2ZnE&list=PL3uUjzLk6Pumb03UdSCd0j5sGiOMkZ2Nm&pp=0gcJCaIEOCosWNin',
            '_blank',
          )
        "
      >
        View All
        <img
          src="$1Upload\22-08-2025\files\arrow-icon.svg"
          alt="arrow-icon"
          class="arrow-icon"
        />
        <img
          src="$1Upload\22-08-2025\files\3lineseffect.svg"
          alt="arrow-icon"
          class="lines-effect-icon"
        />
      </button>
    </div>
  </div>
</div>
